@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray leading-none;
  }

  input,
  textarea,
  button,
  select,
  a,
  li,
  label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

@layer components {
  .btn {
    @apply z-1 after:z-2 relative inline-block py-2 px-12 font-squada text-lg uppercase leading-[19px] ring-1 ring-black duration-300 after:absolute after:right-0 after:bottom-0 after:border-l-[16px] after:border-b-[16px] after:border-b-crimson after:border-l-transparent after:duration-300 after:content-[""] hover:bg-crimson hover:text-white hover:after:border-b-black;
  }

  .more {
    @apply z-1 after:z-2 absolute inset-0 flex items-center justify-center font-squada text-lg uppercase text-white before:absolute before:inset-0 before:-z-10 before:bg-black before:opacity-70 before:content-[''] after:absolute after:right-0 after:bottom-0 after:border-l-[16px] after:border-b-[16px] after:border-b-crimson  after:border-l-transparent after:content-[""];
  }

  /* .nav-item .active {
    @apply relative border border-b-0 border-black text-black after:absolute after:-bottom-0.5 after:left-0 after:h-0.5 after:w-full after:bg-gray after:content-[""];
  } */

  .button-check {
    @apply after:awesome-font select-none border-crimson ring-1 ring-inset ring-crimson after:absolute after:top-1/2 after:right-4 after:-translate-y-1/2 after:text-crimson after:content-['\f00c'];
  }
}

@layer utilities {
  .mode-vertical {
    writing-mode: vertical-lr;
  }

  .awesome-font {
    font: var(--fa-font-solid);
  }

  .z-1 {
    z-index: 1;
  }

  .z-2 {
    z-index: 2;
  }

  .z-5 {
    z-index: 5;
  }

  /* .nav-open {
    @apply max-h-screen;
  } */

  /* .search-show {
    @apply max-w-full px-3;
  } */

  /* .mask.show-mask {
    @apply top-0 left-0 h-full w-full opacity-70;
  } */
}

.mask {
  transition: opacity 1s, width 0s 0.5s, height 0s 0.5s, top 0s 0.5s,
    left 0s 0.5s;
}

.mask.show-mask {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.search-show {
  max-width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.nav-open {
  max-height: 100vh;
}

.nav-item .active {
  position: relative;
  border: 1px solid black;
  border-bottom-width: 0;
  color: black;
}

.nav-item .active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #F0F0F0;
}


/* Swiper */

/* index */
.indexSwiper .swiper-wrapper {
  height: 344px;
}

.indexSwiper .swiper-wrapper .swiper-slide {
  height: 232px;
}

.indexSwiper .swiper-slide h3,
.indexSwiper .swiper-slide p,
.indexSwiper .swiper-slide .btn {
  opacity: 0;
  transition: 0.8s;
}

.indexSwiper .swiper-slide p {
  transition: 0.5s 0.5s;
}

.indexSwiper .swiper-slide.swiper-slide-active h3,
.indexSwiper .swiper-slide.swiper-slide-active p,
.indexSwiper .swiper-slide.swiper-slide-active .btn {
  opacity: 1;
}

.indexSwiper .swiper-slide.swiper-slide-prev h3,
.indexSwiper .swiper-slide.swiper-slide-next h3,
.indexSwiper .swiper-slide.swiper-slide-prev p,
.indexSwiper .swiper-slide.swiper-slide-next p,
.indexSwiper .swiper-slide.swiper-slide-prev .btn,
.indexSwiper .swiper-slide.swiper-slide-next .btn {
  transition: 0.5s;
}

@media screen and (min-width: 576px) {
  .indexSwiper .swiper-wrapper {
    height: 395px;
  }

  .indexSwiper .swiper-wrapper .swiper-slide {
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .indexSwiper .swiper-slide {
    transition: 0.8s;
  }
}

@media screen and (min-width: 1026px) {
  .indexSwiper .swiper-wrapper {
    align-items: center;
    height: 439px;
  }

  .indexSwiper .swiper-slide.swiper-slide-active {
    width: 50% !important;
  }

  .indexSwiper .swiper-slide.swiper-slide-prev,
  .indexSwiper .swiper-slide.swiper-slide-next {
    width: 25% !important;
    filter: grayscale(1);
  }

  .indexSwiper .swiper-slide.swiper-slide-prev,
  .indexSwiper .swiper-slide.swiper-slide-next,
  .indexSwiper .swiper-slide.swiper-slide-duplicate-prev,
  .indexSwiper .swiper-slide.swiper-slide-duplicate-next {
    height: 262px;
  }
}

/* all pagination */
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  background: #000;
  opacity: 1;
}

.swiper-pagination-bullet {
  transition: width 0.8s;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #e6553b;
  width: 16px;
}

/* Ranking List */
@media screen and (min-width: 1026px) {
  li[data-role='list'] .collapse {
    display: flex;
  }
}
